body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b84abc;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px; /* Закруглені кути */
}

#yes {
    background-color: limegreen;
    color: white;
    animation: blink 1s infinite alternate;
}

#no {
    background-color: red;
    color: white;
    position: absolute;
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
}
